
/*website background*/
body {
    background-color: black;
    color: white;
}

/*github logo*/
.links {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    position: absolute;
    top: 1000px;
    left: 10px;
}

#link-logo{
    width: 50px;
    height: auto;
    padding: 5px;
}

